<h1 id="log_in">Log In</h1>

<form action="<%= session_url %>" method="post" accept-charset="utf-8">
  <input type="hidden" name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <label for="email">Email</label>
  <input type="text" name="user[email]" id="email">

  <label for="password">Password</label>
  <input type="password" name="user[password]" id="password">

  <p><input type="submit" value="Log In"></p>
</form>

<%= link_to "Forgot Password", new_password_reset_session_url %>