<h1>Reset Password</h1>
<form action="<%= user_url(@user) %>" method="post" accept-charset="utf-8">
  <input type="hidden" name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <input type="hidden" name="_method" value="PATCH">


  <label for="email">Email</label>
  <input type="text" name="user[email]" value="<%= @user.email %>" id="email">

  <label for="password">Password</label>
  <input type="password" name="user[password]" id="password">

  <p><input type="submit" value="Update changes!"></p>
</form>